<div class="container">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, articles_path%>
  <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, edit_article_path %>
  <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</div>
